body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFEEDD;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 20px;
}

#logo h1 {
    font-family: 'Montez', cursive;
    color: blue;
    font-size: 36px;
    margin: 0;
}

#logo h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    margin: 0;
}

#auth-buttons button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-heading {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Apply exit animation */
.modal-content.exit {
    -webkit-animation-name: exittop;
    animation-name: exittop;
}

/* Modal enter animation */
@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes animatetop {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

/* Modal exit animation */
@-webkit-keyframes exittop {
    from { top: 0; opacity: 1; }
    to { top: -300px; opacity: 0; }
}

@keyframes exittop {
    from { top: 0; opacity: 1; }
    to { top: -300px; opacity: 0; }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
#signUpForm,
#signInForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#signUpForm label,
#signInForm label {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}

#signUpForm input[type="text"],
#signUpForm input[type="password"],
#signInForm input[type="text"],
#signInForm input[type="password"] {
    width: 98%;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

#signUpForm input[type="submit"],
#signInForm input[type="submit"] {
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#signUpForm input[type="submit"]:hover,
#signInForm input[type="submit"]:hover {
    background-color: #3e8e41;
}

#signInForm p {
    margin-top: 15px;
    text-align: center;
}

#signInForm p a {
    color: #007BFF;
    text-decoration: none;
}

#signInForm p a:hover {
    text-decoration: underline;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-header h3 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header .icon {
    font-size: 1.2rem;
    color: #ccc;
}

.card-header .icon:hover {
    color: red;
    cursor: pointer;
}

.card-content {
    line-height: 1.5;
    font-size: 1rem;
}

.card-content .icon:hover {
    color: blue;
    cursor: pointer;
}

.author {
    font-weight: bold;
    margin-top: 10px;
}

